@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
:root {
    --headcolor: #71835f;
	--primary-color: #FED16E;
	--background-color: #f9f9f9;
	--text-color: #32373C;
	--header-background: #333333;
	--highlight-background: #F3F4F6;
	--accent-color: #FED16E;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Anek Devanagari', sans-serif;
    margin: 0;
    padding: 0;
    color: #32373C;
    background-color: #fffcf5;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    background-color: black;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
}

header nav a {
    color: #FED16E;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}

header nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease, right 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
    right: 0;
}

header nav a:hover {
    color: white;
}

section {
    position: relative;
    padding: 80px 20px;
    margin: 0 auto;
    color: black;
    text-align: center;
    background-color: #fff;
}

section h1,
section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

section p, span {
    text-align: left;
}

.banner-container {
    position: relative;
    overflow: hidden;
    height: 300px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.banner {
    display: flex;
    width: 200%;
    animation: bannerMove 20s linear infinite;
}

.banner img {
    height: 300px;
    object-fit: cover;
    width: 25%;
}

@keyframes bannerMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

h1,
h2,
h3 {
    color: black;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 15%;
}

.arrow-list ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
    margin: 20px 15%;
    font-size: 18px;
    
}

.arrow-list li::marker {
    color: var(--headcolor);
}

.arrow-list ul li {
    position: relative;
    padding-left: 30px; 
    margin-bottom: 10px; 
}

.sec3 {
    text-align: left;
    background-color: transparent;
}

.edgy-list li {
    list-style: square;
}

.edgy-list li::marker {
    color: var(--headcolor);
}

a.button-52,
.services,
.button-52 {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 2px solid var(--headcolor);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 40px;
    color: var(--headcolor);
    text-decoration: none;
    font-weight: bold;
}

.button-52:after {
    content: "";
    background-color: #FED16E;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover {
    background-color: #FED16E;
    color: black;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}

.presentation {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

footer {
    background-color: black;
    color: #FED16E;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}


footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer .icons a {
    color: #FED16E;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s, font-size 0.3s;
}

footer .icons a:hover {
    color: #fff;
    font-size: 16px;
}

.divider {
    border: 1px solid black;
    width: 80%;
    margin: 60px auto;
}

.copy {
    color: white;
    font-size: 14px;
}

section {
    padding: 0;
  }

.section-image {
    width: 60%;
    max-width: 800px;
    margin: 40px auto;
    display: block;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.22), 1px 0px 0px 0px rgba(0, 0, 0, 0.22), 1px 2px 0px 0px rgba(0, 0, 0, 0.22), 2px 1px 0px 0px rgba(0, 0, 0, 0.22), 2px 3px 0px 0px rgba(0, 0, 0, 0.22), 3px 2px 0px 0px rgba(0, 0, 0, 0.22), 3px 4px 0px 0px rgba(0, 0, 0, 0.22), 4px 3px 0px 0px rgba(0, 0, 0, 0.22), 4px 5px 0px 0px rgba(0, 0, 0, 0.22), 5px 4px 0px 0px rgba(0, 0, 0, 0.22), 5px 6px 0px 0px rgba(0, 0, 0, 0.22), 6px 5px 0px 0px rgba(0, 0, 0, 0.22), 6px 7px 0px 0px rgba(0, 0, 0, 0.22), 7px 6px 0px 0px rgba(0, 0, 0, 0.22), 7px 8px 0px 0px rgba(0, 0, 0, 0.22), 8px 7px 0px 0px rgba(0, 0, 0, 0.22);
}

.about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10%;
}

.about-item {
    margin: 20px;
    flex: 1 1 45%;
    max-width: 45%;
    text-align: center;
}

.quote-container {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        color: #FED16E;
        font-size: 24px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: black;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 200px;
        padding-top: 60px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }


    .nav-links a {
        color: #FED16E;
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #444;
    }

    .nav-links a:hover {
        background-color: #444;
    }

    .nav-links.open {
        transform: translateX(0);
        display: flex;
    }

    .language-selector {
        margin-top: 10px;
        margin-left: 15px;
    }

    .dropdown {
        padding: 15px;
        text-align: left;
    }

    .dropdown-content a:hover {
        font-size: 16px;
    }
}

@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }
}

.language-selector {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-selector img {
    height: 30px;
    border: 1px solid #FED16E;
    border-radius: 4px;
    margin-left: 10px;
}

@media (max-width: 768px) {
.about-container {
flex-direction: column;
align-items: center;
}

.about-item {
max-width: 80%;
margin: 10px 0;
}
}

@media (max-width: 768px) {
h1 {
font-size: 22px;
}

h2 {
font-size: 18px;
}

h3 {
font-size: 16px;
}

p, span, ul {
font-size: 16px;
}

.button-52 {
font-size: 14px;
padding: 10px 20px;
}

.nav-links a {
font-size: 16px;
}
}

@media (max-width: 768px) {
.logo img {
height: 60px;
}
}
.fullscreen-section {
position: relative;
width: 100%;
height: 100vh;
background: url('/images/usp-hannover8923156781.jpg') no-repeat center center/cover;
display: flex;
justify-content: center;
align-items: center;
color: #FED16E;
text-align: center;
overflow-x: hidden;
}

.fullscreen-section h1 {
font-size: 2.5rem;
margin-bottom: 20px;
background-color: #FED16E;
transform: translate(-320px, -20px);
}

.fullscreen-section {
font-size: 2rem;
font-weight: bold;
white-space: nowrap;
overflow: hidden;
}

@media (max-width: 768px) {
.fullscreen-section {
height: 100vh;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
text-align: center;
overflow: hidden;
width: 100%;
}

.fullscreen-section h1 {
font-size: 1.2rem; 
margin-bottom: 10px;
padding: 0 10px; 
word-wrap: break-word; 
transform: translate(-70px, -10px);
}

.fullscreen-section .typed-text {
font-size: 1rem; 
padding: 0 10px;
word-wrap: break-word; 
transform: translate(-70px, -10px);
}

.fullscreen-section .typed-text::before {
width: auto;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
.fullscreen-section {
height: 100vh;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
text-align: center;
overflow: hidden;

}

.fullscreen-section h1 {
font-size: 1.8rem; 
margin-bottom: 10px;
padding: 0 20px; 
word-wrap: break-word; 
transform: translate(-220px, -15px);
}

.fullscreen-section .typed-text {
font-size: 1.2rem; 
padding: 0 20px; 
word-wrap: break-word; 
transform: translate(-220px, -15px);
}

.fullscreen-section .typed-text::before {
width: auto;
}
}


.typed-text {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    background-color: #FED16E;
    font-weight: bold;
    color: black;
    font-size: 24px;
    transform: translate(-320px, -20px);
}

.typed-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: width 0.3s ease;
}

.typed-text[data-progress='true']::before {
    width: 100%;
}

section h1, h2 {
    color: var(--headcolor);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #FED16E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-right: 20px;
    overflow-x: wrap;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    font-size: 20px;
}

.credit {
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit a {
    display: flex;
    align-items: center;
}

.img-credit {
    height: 20px;
    margin-left: 5px;
}

#home p { 
    text-align: center;
}


.quiz-container {
    max-width: 80%;
    width: 90%;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quiz-container h2 {
    color: var(--headcolor);
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

.quiz-question {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    color: var(--text-color);
}


.quiz-options {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.quiz-options li {
    margin: 10px 0;
    flex: 1;
}

.quiz-options input[type="radio"] {
    display: none;
}

.quiz-options label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-size: 1.2em;
    background-color: #f9f9f9;
    height: 20px; 
}

.quiz-options input[type="radio"]:checked + label {
    background-color: var(--headcolor);
    color: white;
    border-color: var(--headcolor);
    font-weight: bold;
}

.quiz-options label:hover {
    background-color: #f3f4f6;
}


.btn-primary {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: var(--headcolor);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #555;
    color: white;
}


.result {
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    color: var(--text-color);
    
}

.result .bx {
    font-size: 2em;
    color: var(--headcolor);
}


.result-span {
    background-color: var(--accent-color);
    text-align: center;
    margin: 0;
}

.scroll-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-element.in-view {
    opacity: 1;
    transform: translateY(0);
}

 .shadow {
    overflow: hidden;
    height: 20px;
    background-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
.shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }

  .p-center p {
    text-align: center;
  }

  .left-list {
    text-align: left;
    list-style: square;
    
  } 


  li {
    margin-bottom: 5px;
    font-size: 18px;
    padding-left: 80px;
    padding-right: 80px;
    
  }

  @media (max-width: 768px) {
    li {
      font-size: 16px;
    }
  }

 
p, h1, h2, h3, ul, ol, li {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-left: 20px; 
    padding-right: 20px;
}

@media (max-width: 768px) {
    p, h1, h2, h3, ul, ol, li {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%; 
    }
}

p, h1, h2, h3, ul, ol, li {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-left: 10px; 
    padding-right: 10px; 
}

@media (max-width: 768px) {
    p, h1, h2, h3, ul, ol, li {
        padding-left: 5px;
        padding-right: 5px;
        max-width: 100%; 
    }
}

.section {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    flex-direction: row; 
}

.image-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wave-border {
    position: absolute;
    right: -30px;
    top: 0;
    height: 100%;
    width: 60px;
    z-index: 1;
}

.wave-border::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.text-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    z-index: 2;
    position: relative;
}

.text-container h1 {
    margin: 0;
    font-size: 2rem;
}

.text-container p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #555;
}


@media (max-width: 768px) {
    .section {
        flex-direction: column;
        padding: 0;
    }

    .image-container, .text-container {
        flex: none; 
        width: 100%;
        padding-left: 0;
    }

    .image-container img {
        height: auto; 
    }

    .text-container {
        padding: 10px;
    }

    .text-container h1 {
        font-size: 1.5rem; 
    }

    .text-container p {
        font-size: 1rem;
        text-align: center;
    }
}



#angebot p {
    text-align: center;
}

#angebot {
    background-color: #fffcf5;
    width: 100%;
}

#usp {
    background-color: #fffcf5;
    padding: 0;
}

.bg {
    background-color: #fffcf5;
}

#home {
    background-color: #f6fbf0;
    padding: 0;
}

#ueber-uns {
    background-color: #f6fbf0;
}

#kontakt {
    background-color: #f6fbf0;
}

.bg2 {
    background-color: #fffcf5;
}

.want-list {
    padding-left: 10%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    max-width: 800px; 
    margin: 0 auto; 
}

label {
    font-weight: bold;
    margin-bottom: 3px;
}

input, textarea {
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    padding: 6px;
    font-size: 14px;
}

textarea {
    height: 80px;
}

button {
    background-color: var(--accent-color);
    border: none;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #eab956;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #eab956;
}

.text-form {
    color: var(--headcolor)
}

.text-top-form {
    margin-top: 10px;
    color: #5c5c5c;
    margin-bottom: 0;
    padding-bottom: 0;
}

.text-bottom-form {
    margin-bottom: 0;
    padding-top: 0;
    color: #5c5c5c;
}

.text-bottom-form a {
    color: red;
}

.white-bg-section {
    background-color: #fff;
    margin-top: 0;
    padding-top: 19px;
    
}

#cookie-banner {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: white;
    color: var(--text-color);
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.5s ease-in-out;
    z-index: 9999;
  }
  
  #cookie-banner.show {
    bottom: 0;
  }
  
  .cookie-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .cookie-content h3 {
    color: var(--headcolor);
    margin-bottom: 10px;
  }
  
  .cookie-content p {
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  .cookie-buttons {
    display: flex;
    gap: 10px;
  }
  
  .cookie-btn {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .cookie-btn.accept {
    background-color: var(--headcolor);
    color: white;
  }
  
  .cookie-btn.decline {
    background-color: var(--accent-color);
    color: var(--text-color);
  }

  .privacy-anchor {
    color: var(--headcolor);
    font-weight: bold;
  }


p, h1, h2, h3, ul, ol, li {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-left: 20px; 
    padding-right: 20px;
}

ul, ol {
    padding-left: 40px; 
}


@media (max-width: 768px) {
    p, h1, h2, h3, ul, ol, li {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%; 
    }

    ul, ol {
        padding-left: 30px; 
    }
}


.arrow-list ul, .left-list, .edgy-list {
    padding-left: 40px; 
}

.arrow-list li, .left-list li, .edgy-list li {
    margin-bottom: 10px;
    padding-left: 20px; 
}


header, section {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    header, section {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.split-1 {
    background-color: #fffcf5;
    padding: 0;
}

.split-2 {
    background-color: #f6fbf0;
    padding: 0;
}

#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px; 
    height: 60px;
    background-color: #FED16E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(100px);
    z-index: 1000;
}

#backToTop i {
    font-size: 32px; 
    color: white;
}

#backToTop.show {
    opacity: 1;
    transform: translateY(0);
}

.block-contact span{
    display: block;
    text-align: center;
}